* {
    padding: 0;
    margin: 0 !important;
}
body {
    width: 100%;
    height: auto;
    min-height: 100vh;

    background-color: #181818;
    background-image: linear-gradient(144deg, rgba(230,255,17,1) 0%, rgba(182,148,233,1) 100%);
    background-size: 100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    /* Vì flex đang ở trục main axis nên khi chang height thì height của .login-wrapper mà body chứa vẫn giữ nguyên size */
}
.login-wrapper {
    margin-top: 8% !important;
    margin-bottom: 10% !important; 
    width: 100%;
    height: auto;
    min-width: 0px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.login-container {
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding-bottom: 30px;
    animation: appearForm 1s cubic-bezier(.48,.55,.45,1.21);
    position: relative;
}
@keyframes appearForm {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}
.login-title, .login-form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.login-title h1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
    margin: 40px auto !important;
}
.login-form form {
    width: 80%;
}
.field input {
    background-color: #e7e7e7;
    border: none;
    display: block;
    font-size: 1.8rem;
    outline: none;
    padding: 10px 20px;
    width: 100%;
    border-radius: 25px;
    line-height: initial;
}
.field-pass {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
    .field-pass span.eye {
        position: absolute;
        right: 0;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 8%;
    }
        .field-pass span.eye i {
            font-size: 1.9rem;
        }
        .field-pass span.eye i:hover {
            cursor: pointer;
        }

p {
    font-size: 1.7rem;
    color: red !important; 
    padding: 2px 5% !important;
    height: 25.5px;
}

button[type="submit"] {
    background-color: #91EDE6;
    border: none;
    display: block;
    font-size: 1.8rem;
    outline: none;
    width: 100%;
    border-radius: 25px;
    padding: 10px 20px;
    color: #020202;
    font-weight: 700;
    margin-top: 10px !important;
}
    button[type="submit"]:hover {
        background-color: #00c1ce;
    }
a {
    color: #5c7fda;
    text-decoration: none;
    font-size: 1.7rem;
    display: block;
    width: fit-content;
    margin: 10px auto !important;
}